    <!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">


  <br>
        <% if (username) { %>
            <form method="POST" action=<%=`/logout` %>> 
               <h2> you are log in as  <%=  username %> </h2> 
               <button type="logout">logout</button> 
            </form>
        <% } else { %> 
          
                 <br>
                 <form method="GET"  action= <%=`/login` %>>    
                <label for="login"> If you are register already, please log In! </label>
                <button type="submit">LOG IN</button></form>
<br>
                <form method="GET" action= <%=`/register` %>> 
                <label for="register"> If you are not register already, please register! </label>
               <button type="submit">REGISTER</button> 
            </form>

            <% } %>       
        </body>
</html>
