<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <hi>Log in: </hi>
            <form method="POST" action=<%=`/login` %>> 
                 <label for="password">Email:</label>
                 <input type=text name="email" value"" %>>
                 <label for="password">Password:</label>
                 <input type=password name="password" value"" %>>
                <button type="submit">LOGIN</button>
            </form>
        </body>
</html>