<html>

<head>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <center>
    <h1>REGISTER</h1>
  </center>
  <form method="POST" action="/register">
    <label for="username">Email:</label><br>
    <input type="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br>
    <button type="submit">REGISTER</button>
  </form>
</body>

</html>