<html>
  <head>
  </head>
  <body>
    <h1>REGISTER</h1>
    <form method="POST" action="/register">
      <label for="username">email</label>
      <input type="email" name="email" >


      <label for="password">Password</label>
      <input type="password" name="password" >
      <button type="submit">REGISTER</button>
    </form>
  </body>
</html>