
    <html>

    <head>
        <% include ./partials/_head %>
            <meta charset="utf-8" />
            <title>TinyApp</title>
    </head>

    <body>

        <h1>Edit URL</h1>

        <ul>
            <li>
                <%= shortURL %>
                   
                    <%= urls[shortURL].longURL %>
                        <form method="POST" action=<%=`/urls/${shortURL}` %>>
                            <label for="new url ">updated URL:</label>
                            <input type=text name="newurl" placeholder<%= longURL%>/>
                            <button type="submit">UPDATE</button>
                        </form>
   
                    </body>
                    </html>  