<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body style="padding:200px;">
  <form action="/urls" method="POST" style="margin:150px;">
    <label for="longURL">Enter a URL:</label><br>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px"><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>