<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <% include ./partials/_head %>
</head>

<body>



    <ul>
        <center>
            <%= shortURL %> <br>
          
            <%= urls[shortURL].longURL %>
            </center>  
            <form method="POST" action=<%=`/urls/${shortURL}` %>>
                <label for="new url ">updated URL:</label><br>
                <input type=text name="newurl" placeholder<%=longURL%>/><br>
                <button type="submit">UPDATE</button>
            </form>

</body>

</html>