* {
   box-sizing: border-box;
   font-family: 'Fjalla One', Impact, Arial, sans-serif;
}

body {
   background-color: #80d4ff;
}

form {
   background-color: #ccffff;
   padding: 80px;
   width: 70%;
   margin: 100px auto;
   text-align: center;

}

#label {
   font-size: 55px;
}

#h1 {
   font-size: 80px;
}

[type="submit"] {
   height: 35px;
   margin: 20px;
   width: 130px;
   font-size: 25px;
   border: none;
   background-color: black;
   color: white;
}

[type="text"] {
   font-size: 25px;
   background-color: white;
   width: 320px;

}

#Container {
   font-size: 60px;

}

.box0 {
   position: relative;
   background-color: #ccffff;
}

.box2 {
   position: relative;
   top: -150px
}

.box3 {
   position: relative;
   top: -250px
}

.box4 {
   position: relative;
   top: -291px;
   background-color: #ccffff;
   max-width: 100%;
}